@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Michroma';
  src: url('/fonts/michroma/Michroma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TechMono';
  src: url('/fonts/techmono/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

.react-hot-toast {
  z-index: 9999;
}

.min-h-screen-safe {
  min-height: calc(100vh - var(--navbar-height, 0px));
}

.h-screen-safe {
  height: calc(100vh - var(--navbar-height, 0px));
}